
.dashboardclipper {
  position: relative;
  margin: auto;
  border: 0px;
  padding: 0px;
  overflow: hidden;
  text-align: left;
}

.dashboard {
  position: absolute;
  margin: 0px;
  border: 0px;
  padding: 0px;

  overflow: hidden;
  height: 110;
}


.page { 
  display: inline-block; 
  position: relative;
  vertical-align: top;
  overflow: hidden;
}

.pageindicator {
  position: absolute;
  margin: auto;
  border: 0px;
  padding: 0px;
  
    text-align: center;  
    white-space: nowrap;  
    overflow: hidden;  
}

.pagemark {
    display: inline-block;
    vertical-align: middle;  
  }

.appDisplayFrame {
  border: 0px;
  position: absolute;
}

.liftedApp {
  box-shadow: 2px 6px 10px 2px rgb(0, 0, 0) !important;
  -webkit-box-shadow: 2px 6px 10px 2px rgb(0, 0, 0);
}
      
.highlighted {
  background-color: black;
  opacity: 0.25;
}

.remover {
  display: none;
}

.showremover {
  display: block;
}

/* change if you'd like it to display differently */
.icon {
  padding: 8px;
  position: relative;
  width: 60%;
  height: 55%;
  margin-top:20%;
  margin-left: auto;
  margin-right: auto;

  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  background-color: #EEEEEE;
  -webkit-box-shadow: inset 1px 1px 3px 1px #AAAAAA;
  -moz-box-shadow: inset 1px 1px 3px 1px #AAAAAA;
  box-shadow: inset 1px 1px 3px 1px #AAAAAA; 
}

.iconshader {
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10%;
}

.appLabel {
  width: 100%;
  height: 20%;
  white-space: nowrap;
  overflow: hidden;    
  text-align:center;
  margin: auto;
  font-weight: bold;
}


